
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.tmp
Nemerle-macros-intro/Nemerle-macros-intro.rsdnml-Pics/*
*.html
*.rsdnml.xml
*~$*
Nemerle-macros-intro/Projects/MacroIntro/MacroIntroLibrary/_N_GeneratedSource_DisposableTest.n
_N_*.n
Nemerle-macros-intro/Nemerle-macros-intro.txt
N2/N2-Project/N2-Project.rsdnml-Pics/